<footer>
    <form class="subscribe">
        <div>
            <h3>Sign Up to our newsletter</h3>
            <p>Stay up to date with the latest news, announcement and articles</p>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your Email">
            <div class="input-group-append">
                <button class="btn btn-dark">Subscribe</button>
            </div>
        </div>
    </form>

    <div class="footer-items">
        <div>
            <a class="navbar-brand" href="#">SoroSoke</a>
            <p>Write to your heart's content</p>
        </div>
        <div>
            <ul>
                <li><a href="">Pricing</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="">Legal</a></li>
            </ul>
        </div>
    </div>
    <h5>&copy;2023 SóróSoke</h5>
</footer>