<nav class="navbar navbar-expand-lg">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <i class="fa-solid fa-bars"></i>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <a class="navbar-brand" href="/">SóróSoke</a>

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">My Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav reg-login">
            <li class="nav-item" role="button"><a href="/login" class="nav-link btn btn-outline-dark get-started"
                    role="button">Login <i class="fa-solid fa-arrow-right-to-bracket fa-beat"></i></a>
            </li>
            <li class="nav-item" role="button"><a href="/createpost" class="nav-link btn btn-outline-dark create-post"
                    role="button">create
                    Post <i class="fa-solid fa-pen-to-square fa-shake"></i></a>
            </li>
            <!-- <li class="nav-item" role="button"><a href="/logout" class="nav-link btn btn-danger logout"
                    role="button">Log out <i class="fa-solid fa-right-from-bracket"></i></a>
            </li> -->

        </ul>
    </div>
    <li class="nav-item profile-nav">


        <div class="dropdown profile-dropdown">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton"
                aria-haspopup="true" aria-expanded="false">
            </button>
            <div class="dropdown-menu profile-options" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item my-profile" href="#">View Profile</a>
                <a class="dropdown-item" href="/logout">Log out</a>
            </div>
        </div>
        <div class="profile-info">
            <p id="profile-name"></p>
            <img src="" alt="" id="profile-pic">
        </div>
    </li>
</nav>

<div class="preloader"></div>