<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;0,900;1,900&family=Ubuntu&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/79094805a6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/post.css" rel="stylesheet" />
    <title>
        <%=title %>
    </title>
</head>

<body>
    <!-- <hr class="divider"> -->
    <%- include('partials/nav.ejs') %>
        <div class="post-hero">
            <div class="post-hero-image">
                <img src="" alt="">
            </div>
            <div class="post-intro">
                <h2 id="open-post-title"></h2>
                <p id="open-post-description"></p>
                <div class="author-info">
                    <img src="" alt="" class="profile-pic" id="author-pic">
                    <a id="open-post-author" href=""></a>
                </div>
            </div>
        </div>
        <div id="open-post-content" class="blog-content">
            <p></p>
        </div>

        <div class="other-posts-by-author">
            <div class="more-posts-header">
                <p>Keep reading</p>
                <h3>More from this author</h3>
                <a href="" class="view-all btn bg-dark text-white" role="button">View all posts</a>
            </div>
            <div class="more-posts" data-aos="flip-up"></div>
        </div>
        </div>
        <%- include('partials/footer.ejs') %>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
            <script>
                AOS.init({
                    duration: 500,
                    easing: "ease-in-out",
                    once: true,
                    mirror: false,
                    delay: 0
                });
            </script>
            <script src="/js/post.js" type="module"></script>
</body>

</html>