<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;0,900;1,900&family=Ubuntu&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/79094805a6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" />
    <link href="post.css" rel="stylesheet" />
    <title>Blog</title>
</head>

<body>
    <!-- <hr class="divider"> -->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">SoroSoke</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">My Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav reg-login">
                <li class="nav-item" role="button"><a href="/signup" class="nav-link btn btn-outline-dark get-started"
                        role="button">Get
                        Started</a>
                </li>
                <li class="nav-item" role="button"><a href="/signup" class="nav-link btn btn-outline-dark create-post"
                        role="button">create
                        Post <i class="fa-solid fa-pen-to-square fa-shake"></i></a>
                </li>
                <li class="nav-item profile-pic"></li>
            </ul>
        </div>
    </nav>
    <div class="post-hero">
        <div class="post-hero-image">
            <img src="./public/Images/pexels-diva-plavalaguna-6150527.jpg" alt="">
        </div>
        <div class="post-intro">
            <h2>The Relentles Pursuit of Perfection</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius recusandae facilis ad, maxime
                necessitatibus rem eum, veritatis, quod placeat sed quia saepe omnis aperiam? Perferendis veniam
                corrupti provident accusamus itaque!</p>
            <div class="author-info">
                <p>lorem ipsum</p>
            </div>
        </div>
    </div>
    <div class="blog-content">
        <h3>cwdfnwc</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatum dignissimos iure reiciendis
            assumenda rem a, aperiam, obcaecati debitis unde deleniti quaerat ratione! Necessitatibus ea quia molestias
            culpa a pariatur.
            Doloremque exercitationem rerum deserunt nam ducimus, eos corporis? Saepe aspernatur eaque totam! Neque quis
            maiores placeat hic repellendus aspernatur consequuntur suscipit doloremque, sint voluptatem nulla
            praesentium aperiam quas mollitia? Ratione.
            Velit necessitatibus cum aliquam. Ea repellat itaque non ad animi ratione quaerat, ducimus necessitatibus
            vel cumque eveniet ex fugiat porro debitis quisquam ipsa doloribus quidem obcaecati omnis aperiam numquam
            esse.
            Similique, harum vitae. Consequatur sapiente dolore distinctio consectetur ullam, obcaecati laborum neque
            magni aliquid, illum adipisci quo sed deserunt quidem praesentium possimus incidunt nemo debitis doloremque
            nostrum corrupti minima eum.
            Eius dolorum id maxime impedit architecto maiores mollitia a nobis porro fugiat eos provident tempora et,
            eaque perspiciatis placeat esse consequatur similique unde iusto commodi nostrum quas nisi iste. Quos?
            Earum possimus incidunt impedit commodi quos a iste, culpa cumque vel inventore soluta! Aliquid dolor
            recusandae repellendus ab natus, voluptates a mollitia molestias quibusdam, quaerat, quidem in perspiciatis
            deleniti quia.
            Dicta nulla, quidem dolor maxime inventore explicabo rem aut dignissimos, suscipit provident corporis
            aliquam. Expedita adipisci sunt vel laboriosam vero tempore! Accusantium officiis laudantium excepturi. Quas
            inventore vel minima accusantium.
            Maiores harum quam, ipsum distinctio quis, quas ullam impedit modi mollitia eum aspernatur, beatae odit
            velit laboriosam blanditiis corporis sequi incidunt nisi. Quas, similique nihil quasi magnam tempore odit
            aperiam.
            Quo eius esse, non neque quae illum, est, tempore eligendi inventore adipisci sunt? Ullam neque assumenda
            sed totam earum repellendus maxime, vero aspernatur, aliquid, exercitationem consectetur ad rerum maiores
            unde.
            Possimus officia sed alias soluta tenetur qui ipsa harum voluptatibus est. Maiores, quis neque, iure fuga
            doloribus voluptates quidem culpa atque error, autem corporis necessitatibus nostrum. Facilis dolorem quis
            minima!
            Accusamus nesciunt vero voluptatum est porro fuga, asperiores modi dolore in quasi deserunt quod, delectus
            sit, sapiente ratione. Aperiam perspiciatis, architecto amet tempore rem ex quibusdam nostrum ea.
            Voluptatum, amet.
            Sapiente quia tempora voluptatum nemo, debitis similique quasi nobis, deleniti suscipit ipsam dolores odio
            nihil? Consectetur explicabo dolor molestiae odio velit itaque sunt! Exercitationem excepturi, alias odit
            pariatur nulla suscipit.
            Quasi eveniet laborum iure at tempore atque cupiditate. Dolores ut, voluptatem repellat unde cum soluta
            nobis provident saepe illum consequatur repellendus necessitatibus dignissimos quos alias maiores, assumenda
            fuga nostrum nisi?
            Id, ut! Aliquam omnis et pariatur voluptatum quam eligendi autem ad sed facilis iste eaque vitae, molestias
            neque nesciunt, provident laborum repellendus ullam. Necessitatibus, non aut? Beatae suscipit accusantium
            commodi.
            Voluptates consequatur error nemo hic numquam nulla sunt laboriosam repellendus enim tempore, ut, quae,
            optio rem. Tenetur consequuntur numquam, similique provident quos amet maxime nulla accusamus, iure vero
            facilis sequi?
            In nihil beatae voluptatem, quibusdam unde molestiae quis incidunt, magnam dolorum mollitia, esse iusto
            inventore deleniti quasi. Hic iure, officia minima facilis earum unde eos blanditiis aut illo amet ipsum.
            Magnam voluptas doloremque iure ducimus. Totam inventore reprehenderit aspernatur vero laudantium dolores
            fugiat pariatur fuga facere iure sit, ratione culpa ut magni hic architecto, minus consectetur, quis dolorum
            natus incidunt.
            Sapiente aut nisi eligendi quae quos, rem repellendus ipsa alias, praesentium provident deleniti. Quae
            similique iste, reiciendis obcaecati architecto accusamus deserunt optio totam odit impedit et nesciunt
            minus iure dolor?</p>
        <h3>Lorem Ipsum</h3>
        <p>
            Numquam exercitationem error eaque at perspiciatis aperiam vitae saepe qui quisquam illo ipsa omnis
            veritatis consectetur pariatur debitis fuga incidunt odio delectus, iusto deserunt praesentium quaerat et
            est! Praesentium, itaque.
            Suscipit molestias voluptas incidunt rem, asperiores, aliquid inventore esse animi eos numquam officiis amet
            temporibus omnis sit quo! Expedita laborum, similique ea cum dolor corporis veritatis repellendus animi
            perferendis pariatur!</p>
    </div>

    <div class="other-posts-by-author">
        <div class="more-posts-header">
            <p>Keep reading</p>
            <h3>More from this author</h3>
            <a href="" class="view-all btn bg-dark text-white" role="button">View all posts</a>
        </div>
        <div class="more-posts">
            <div class="blog-details">
                <div class="blog-image">
                    <div class="overlay"></div>
                    <img src="./public/Images/pexels-diva-plavalaguna-6150527.jpg"></img>
                    <p class="blog-date"><span class="blog-author">Shed</span> 20
                        Jan 2004</p>
                </div>
                <div class="blog-text">
                    <a href="" class="redirect">Read More<i class="fa-solid fa-arrow-right" title="Read more"></i></a>

                    <h5 class="blog-title">Something about life</h5>
                    <p class="blog-description">This talks about life such is life so
                        believe lore ipsum foren jsdbsdfj dfsdfsdjfsdjkf jdsjs sdffsdfjkdf sdfsdlfsdkfa sdflsdjfd
                    </p>
                    <div class="blog-tags">
                        <p class="tag btn btn-outline-dark">Life</p>
                        <p class="tag btn btn-outline-dark">Education</p>
                    </div>

                </div>
            </div>

            <div class="blog-details">
                <div class="blog-image">
                    <div class="overlay"></div>
                    <img src="./public/Images/pexels-diva-plavalaguna-6150527.jpg"></img>
                    <p class="blog-date"><span class="blog-author">Shed</span> 20
                        Jan 2004</p>
                </div>
                <div class="blog-text">
                    <a href="" class="redirect">Read More<i class="fa-solid fa-arrow-right" title="Read more"></i></a>

                    <h5 class="blog-title">Something about life</h5>
                    <p class="blog-description">This talks about life such is life so
                        believe lore ipsum foren jsdbsdfj dfsdfsdjfsdjkf jdsjs sdffsdfjkdf sdfsdlfsdkfa sdflsdjfd
                    </p>
                    <div class="blog-tags">
                        <p class="tag btn btn-outline-dark">Life</p>
                        <p class="tag btn btn-outline-dark">Education</p>
                    </div>

                </div>
            </div>

            <div class="blog-details">
                <div class="blog-image">
                    <div class="overlay"></div>
                    <img src="./public/Images/pexels-diva-plavalaguna-6150527.jpg"></img>
                    <p class="blog-date"><span class="blog-author">Shed</span> 20
                        Jan 2004</p>
                </div>
                <div class="blog-text">
                    <a href="" class="redirect">Read More<i class="fa-solid fa-arrow-right" title="Read more"></i></a>

                    <h5 class="blog-title">Something about life</h5>
                    <p class="blog-description">This talks about life such is life so
                        believe lore ipsum foren jsdbsdfj dfsdfsdjfsdjkf jdsjs sdffsdfjkdf sdfsdlfsdkfa sdflsdjfd
                    </p>
                    <div class="blog-tags">
                        <p class="tag btn btn-outline-dark">Life</p>
                        <p class="tag btn btn-outline-dark">Education</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer data-aos="fade-up">
        <form class="subscribe">
            <div>
                <h3>Sign Up to our newsletter</h3>
                <p>Stay up to date with the latest news, announcement and articles</p>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Your Email">
                <div class="input-group-append">
                    <button class="btn btn-dark">Subscribe</button>
                </div>
            </div>
        </form>

        <div class="footer-items">
            <div class="col">
                <a class="navbar-brand" href="#">SoroSoke</a>
                <p>Write to your heart's content</p>
            </div>
            <div class="col">
                <ul>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Legal</a></li>
                </ul>
            </div>
        </div>
        <h5>&copy;2023 SoroSoke</h5>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="index.js"></script>
</body>

</html>