* {
    box-sizing: border-box;
}

:root {
    --whiteGreen: #F6FFDE;
    --grad: linear-gradient(to bottom right, #F97B22, #9E6F21, #FEE8B0, #9CA777, #9CA777, #0A4D68);
    --text: #9E6F21;
    --footer: #83764F;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: var(--whiteGreen); */
    font-family: 'Kanit', sans-serif;

}

h1,
h2,
h3,
h4,
h5 {
    color: white;
}
.preloader {
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    min-height: 100%;
    background-color: white;
    animation-name: load;
    animation-duration: 8s;
    animation-iteration-count: infinite;

}

@keyframes load {
    100% {
        background-color:white;
    }
}
.navbar-brand {
    color: white;
    font-weight: 500;
    font-size: 30px;
}

.navbar {
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
    /* margin-top: 20px; */
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: transparent;
    align-items: center;

}

.nav-link:not(.btn) {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}

.nav-link:not(.btn):hover {
    color: var(--text);
}

.create-post, .get-started{
    background-color: #F6FFDE;
    color: black;
}
.get-started{
    background-color: rgba(10, 77, 104, 0.3);
    color: white;
    text-align: center;
        min-width: 100px;
    display: none;
    border: none;
    
}
.navbar-nav {
    margin: 0 auto;
    gap: 50px;
}

.logout{
    display: none;
}
.profile-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    /* gap: 20px */
    /* border: 2px solid black; */
    /* padding: 0 5px; */
}

.profile-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
    color: black;
    padding: 0 5px;
    margin: 0;
    /* position: absolute; */
}

.dropdown-toggle {
    background-color: transparent;
    color: white;
    border-radius: 50%;
    border-color: transparent;
}

.profile-pic {
    border-radius: 10px;
    max-height: 50px;
    max-width: 50px;
    border: 1px thin black;
}

#profile-name {
    padding: 0;
    margin: 0;
    color: white;
}

.profile-dropdown {
    position: relative;
}

.profile-options {
    position: absolute;
    right: 500px;
    top: 50px;
    z-index: 20;
    /* align-items: flex-start;
    justify-content: left; */
}
.post-hero {
    /* position: relative; */
    background-color: #83764F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 100px 0;
    width: 100%;
    /* height: 100vh; */
    align-items: center;
    justify-content: space-around;

}

.post-hero-image {
    height: 100%;
    /* min-width: 400px; */
    width: 55%;
    position: relative;
}
#open-post-author{
    color: white;
    font-weight: bold;
}

#open-post-author:hover{
    color: black;
}
#author-pic{
    border: none;
    border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
}
.post-hero-image img {
    height: 100%;
    width: 100%;
    /* aspect-ratio: 21/9; */
}

.post-intro {
    width: 35%;
    height: 80%;
    padding: 30px;
    margin: 0 auto;
    color: white;
}
.blog-content{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
    text-align: left;
    padding: 30px 0;
}
.blog-content h1,.blog-content h2, .blog-content h3, .blog-content h4{
    color: black;
    text-align: left;
}

.other-posts-by-author{
    background-color: #A2A378;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-posts-header{
    width: 100%;
    padding: 20px;
}
.other-posts-by-author h3{
    color: black;
}
.other-posts-by-author .btn{
    /* position: absolute; */
    /* top: 0;
    right: 30px; */
    float: right;
}
.more-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px
}
.more-posts .blog-details{
border: 2px solid white;
padding: 10px;
min-width: 250px;
min-height: max-content;
height: 400px;
}
.more-posts .blog-description-container{
    max-height: 80px;
    min-height: 50px;
}

@media (max-width: 700px) {
    .post-hero{
        padding-bottom: 0;
    }
    .post-hero-image {
        width: 100%;
    }
    .post-intro {
        width: 100%;
        height: 80%;
        padding: 30px;
        margin: 0 auto;
        color: white;
    }
}

@media (max-width: 1000px) {

    .navbar {
        /* width: 100%; */
        /* padding: 0; */
        /* margin: 0; */
        /* justify-content: space-between; */
        position: fixed;
        /* margin-top:30px ; */
        min-height: 50px;
        /* height: 50px; */
        padding: 20px 0;
        background-color:rgba(158, 111, 33,0.4);
        backdrop-filter: blur(6px);
    }

    .navbar-nav {
        gap: 5px;
        justify-content: center;
    }

    .profile-nav {
        position: absolute;
        top: 0;
        /* display: block; */
        right: 0;
        /* justify-content: center; */
    }


    .blog-details{
        width: 400px;
    }
    .navbar-toggler {
        position: absolute;
        top: 0;
        left: 0;
    }

    .other-highlights-header {
        display: block;
    }

    .create-post,.get-started {
        width: 150px;
    }
}