*{
    box-sizing: border-box;
}

:root{
    --whiteGreen: #F6FFDE;
    --grad: linear-gradient(to bottom right, #F97B22, #9E6F21,#FEE8B0, #9CA777,#9CA777, #0A4D68);
    --text: #9E6F21;
    --footer: #83764F;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color:#fdfff7;
    font-family: 'Kanit', sans-serif;
    
}
.preloader{
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    min-height: 100%;
    background-color: white;
    animation-name: load;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

@keyframes load {
    10%{
        background-color: #83764F;
    }
    40%{
        background-color: #0A4D68;
        
    }
    70%{
        background-color: #F97B22;
    }
    100%{
        background-image: var(--grad);
    }
}
h1, h2, h3, h4, h5{
    color: var(--text);
}
.navbar-brand{
    color: var(--text);
    font-weight:500;
    font-size: 30px;
}
.divider{
    background-image: var(--grad);
    height: 10px;
    border: none;
    width: 100%;
    /* margin-bottom: 20px; */
}
.navbar{
    margin: 0 auto;
    width: 100%;
    padding: 10px 30px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: transparent;
    align-items: center;
    justify-content: center;

}
.nav-link:not(.btn){
    color: #0A4D68;
    font-weight: 500;
    font-size: 18px;
}
.nav-link:not(.btn):hover{
    color: var(--text);
}
.navbar-nav{
margin: 0 auto;
gap: 50px;
align-items: center;
/* justify-content: center; */
}

.create-post{
    background-color: #9E6F21;
    color: white;
    /* padding: 0 15px; */
}

.get-started{
    background-color: rgba(10, 77, 104, 1);
        color: white;
        text-align: center;
        min-width: 100px;
        display: none;
        border: none;
}

.profile-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: flex-end;
    align-items: center;
    /* justify-content: center; */
    /* gap: 20px */
    /* border: 2px solid black; */
    /* padding: 0 5px; */
}

.profile-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
    color: black;
    padding: 0 5px;
    margin: 0;
    /* position: absolute; */
}

.dropdown-toggle {
    background-color: transparent;
    color: black;
    border-color: transparent;
}

#profile-pic {
    border: 2px solid black;
    border-radius: 10px;
    max-height: 50px;
    max-width: 50px;
}
#profile-name{
    padding: 0;
    margin: 0;
}
.profile-dropdown{
    position: relative;
}
.profile-options{
    position: absolute;
    right: 500px;
    top: 50px;
    z-index: 20;
    /* align-items: flex-start;
    justify-content: left; */
}
.newsletter{
    min-width: 100%;
    padding: 50px 30px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%
}

.newsletter .input-group{
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;

}

.highlights-section{
    padding: 60px;
    padding-top: 0;
}

.highlight-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 30px;
}
#main-highlight, .other-highlights{
    min-width: 350px;
    width: 46%;
    max-width: 100%;
    min-height: 100%
    
}
#main-highlight-image{
width: 100%;
height: 70%;
position: relative;
overflow-y: hidden;
/* aspect-ratio: 3/2; */
}

#main-highlight-image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
}
.overlay {
    background-color: rgba(131, 118, 79, 0.5);
    position: absolute;
    width: 100%;
    height: 50%;
    backdrop-filter: blur(4px);
    z-index: 2;
    transform: translateY(200%);
    transition: all 0.4s ease-in-out;
}
.blog-date {
    /* background-color: black; */
    /* opacity: 1; */
    /* top: 0; */
    position: absolute;
    z-index: 5;
    color:white;
    font-weight: 500;
    width: 100%;
    padding: 0 10px;
    
    transition: all 0.4s ease-in-out;
}
.blog-author{
    float: right;
    color: white;
}
.blog-author:hover{
    color: black;
}

#main-highlight-date{
    font-size: 20px;
}
#main-highlight-details{
    padding-top: 10px;
    height: 10%;
    width: 100%;
    position: relative;
}
.blog-tags{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px
}

.other-highlights{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap:20px;
}

.tag{
    border: 2px solid black;
    padding: 2px 5px;
    min-width: fit-content;
    width: 100px;
    /* width: 100px; */
    text-align: center;
    border-radius: 20px;
}
.other-highlights .blog-details{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 27%;
    gap: 20px;
    
}
.other-highlights .blog-image{
    width: 100%;
    height: 100%;
    position: relative;
    /* aspect-ratio: 5/3; */
}
.other-highlights .blog-image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 5/3;
}

.other-posts-section{
    padding: 60px;
}
.other-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px 0;
    height: 100%;
    width: 100%;
    gap: 30px;
    /* justify-content: space-around; */
}
.blog-details{
    min-width: 30%;
    width: 30%;
    height: 70%;
    
}

.blog-image{
    width: 100%;
    height: 60%;
    position: relative;
    overflow-y: hidden;
    /* aspect-ratio: 16/9; */
}
.blog-image img{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    border-radius: 5px;
}

.blog-text{
    width: 100%;
    height: 40%;
    position: relative;
}
.blog-title{
    color: var(--text);
    font-weight: 500;
        font-size: 20px;
}

.blog-title:hover {
    color:#0A4D68;
    text-decoration: none;
}
.blog-details:hover .overlay{
transform: translateY(150%);
}
#main-highlight:hover .overlay {
    transform: translateY(170%);
}
.blog-details:hover .blog-date{
    transform: translateY(-120%);
}

footer{
    padding: 30px;
    background-color:var(--footer);
}

.subscribe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subscribe .input-group{
    height: 20px;
    width: 400px;
    min-width: fit-content;
}
.footer-items{
    display: flex;
    /* flex-direction: row; */
}

.footer-items a{
    color:white;
}
.footer-items h3, footer h5{
    color: white;
}
.subscribe h3{
    color: white;
}
.footer-items ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}
.footer-items li{
    list-style: none;
}

footer h5{
    text-align: center;
}
.other-highlights-header{
    display: none;
}
@media (max-width: 300px) {
    .newsletter h1{
        font-size: 30px;
    }
    .newsletter .input-group {
            min-width: 200px;
            max-width: 500px;
            margin: 0 auto;
    
    }
    #main-highlight,
    .other-highlights {
        min-width: 200px;
    }
    .other-highlights{
        min-height: fit-content;
        max-height: 250px;
        align-items:unset;
    }
}
@media  (max-width: 1000px) {
    
    .navbar{
        /* width: 100%; */
        /* padding: 0; */
        /* margin: 0; */
        /* justify-content: space-between; */
        position: sticky;
        /* margin-top:30px ; */
        min-height: 50px;

        padding: 20px 0;
        background-color: rgba(255, 255, 255,0.4);
        backdrop-filter: blur(6px);
    }
    .navbar-nav{
        gap:5px;
        justify-content: center;
    }
    .profile-nav{
        position: absolute;
        top: 0;
        /* display: block; */
         right:0;
        /* justify-content: center; */
    }
    .highlights-section{
        padding:10px;
        
    }
    .highlight-group{
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    #main-highlight,.other-highlights{
        width: 100%;
        /* border: 2px solid purple; */
        /* position: static; */
        }
        .footer-items{
            flex-direction: column;
            justify-content: center;
        }
    .footer-items ul{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        width: 100%;
    }
    .other-highlights .blog-details{
    min-width: 100%;
    min-height: max-content;
    height: 300px;
    border: 2px solid silver;
    padding: 5px;
    align-items: center;
    }
    .other-highlights .blog-details .blog-text{
    width: 40%;
    }
    .other-highlights .blog-details .redirect{
        position: relative;
        text-align: center;
        right: 0;
    }
    .other-highlights
    {
        flex-direction: row;
        overflow-x: scroll;
        /* flex-wrap: wrap; */
    }
    .other-highlights .blog-date {
        /* background-color: black; */
        /* opacity: 1; */
        /* top: 0; */
        text-align: center;
        width: 100%;
        display: block;
    }

    .other-highlights .blog-author {
        float: none;
        text-align: center;
        display: block;
        width: 100%;
    }
    .other-highlights .blog-details:hover .blog-date {
        transform: translateY(-100%);
    }
    .navbar-toggler{
        position: absolute;
        top: 0;
        left: 0;
    }
    .other-highlights-header {
        display: block;
    }
    .create-post{
        width: 150px;
    }
}